#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// LAYERS
#define LAYER_BASE 0
#define LAYER_NAV  1
//#define LAYER_NUM  2
//#define LAYER_SYM  3

// MACROS

// CONFIGRATION
//#define COMBO(NAME, KEYPOS, LAYER) \
//    combo_#NAME { \
//        layers = <LAYER>; \
//        timeout-ms = <40>; \
//        key-position = <KEYPOS>; \
//        bindings = <&kp NAME>; \
//    };

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
};

// define timeout for some functions
//#if !defined TIMEOUT_COMBO_2
//#define TIMEOUT_COMBO_2 175
//#endif
//#if !defined TIMEOUT_COMBO_3
//#define TIMEOUT_COMBO_3 200
//#endif
//#if !defined TIMEOUT_LAYER_HOLD
//#define TIMEOUT_LAYER_HOLD 200
//#endif

// homerow and combos
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Left hand combos
        combo_Q { layers = <0>; timeout-ms = <50>; key-position = <0 1 2>; binding = <&kp Q>; };
        ombo_W { layers = <0>; timeout-ms = <50>; key-position = <0 1>; binding = <&kp W>; };
        ombo_F { layers = <0>; timeout-ms = <50>; key-position = <1 2>; binding = <&kp F>; };
        ombo_P { layers = <0>; timeout-ms = <50>; key-position = <2 3>; binding = <&kp P>; };
        ombo_B { layers = <0>; timeout-ms = <50>; key-position = <2 3 4>; binding = <&kp B>; };
        ombo_G { layers = <0>; timeout-ms = <50>; key-position = <0 3>; binding = <&kp G>; };
        ombo_V { layers = <0>; timeout-ms = <50>; key-position = <8 11>; binding = <&kp V>; };
        ombo_COMMA { layers = <0>; timeout-ms = <50>; key-position = <4 5 6>; binding = <&kp COMMA>; };
        ombo_DOT { layers = <0>; timeout-ms = <50>; key-position = <4 5>; binding = <&kp DOT>; };
        ombo_U { layers = <0>; timeout-ms = <50>; key-position = <5 6>; binding = <&kp U>; };
        ombo_Y { layers = <0>; timeout-ms = <50>; key-position = <6 7>; binding = <&kp Y>; };
        ombo_MINUS { layers = <0>; timeout-ms = <50>; key-position = <5 6 7>; binding = <&kp MINUS>; };
        ombo_M { layers = <0>; timeout-ms = <50>; key-position = <4 7>; binding = <&kp M>; };
        ombo_FSLH { layers = <0>; timeout-ms = <50>; key-position = <12 15>; binding = <&kp FSLH>; };
        ombo_PG_UP { layers = <1>; timeout-ms = <50>; key-position = <2 3>; binding = <&kp PG_UP>; };
        ombo_PG_DN { layers = <1>; timeout-ms = <50>; key-position = <10 11>; binding = <&kp PG_DN>; };
        ombo_LBKT { layers = <3>; timeout-ms = <50>; key-position = <2 3>; binding = <&kp LBKT>; };
        ombo_RBKT { layers = <3>; timeout-ms = <50>; key-position = <4 5>; binding = <&kp RBKT>; };
        ombo_LBRC { layers = <3>; timeout-ms = <50>; key-position = <3 11>; binding = <&kp LBRC>; };
        ombo_RBRC { layers = <3>; timeout-ms = <50>; key-position = <4 12>; binding = <&kp RBRC>; };
        ombo_LPAR { layers = <3>; timeout-ms = <50>; key-position = <10 11>; binding = <&kp LPAR>; };
        ombo_RPAR { layers = <3>; timeout-ms = <50>; key-position = <12 13>; binding = <&kp RPAR>; };
        combo_caps_lock { layers = <1>; timeout-ms = <50>; key-positions = <0 3 4 7>; bindings = <&kp CAPS>; };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "LAYER_BASE";
            bindings = <
            &hm LGUI A &hm LCTRL R &hm LALT S &hm LSHIFT T        &hm LSHIFT N &hm LALT E &hm LCTRL I &hm LGUI O
            &kp Z      &kp X       &kp C      &kp D               &kp H        &kp J      &kp K       &kp L
                  &lt LAYER_NAV SPACE    &lt LAYER_SYM BACKSPACE  &kp TAB      &lt LAYER_NUM ENTER
                    >;
                    // trackball-bindings = <&tmv_coarse>;
        };
        
        nav_layer {
            label = "LAYER_NAV";
            bindings = <
            &kp RIGHT  &kp UP	&kp DOWN   &kp LEFT	     &kp LC(HOME)  &kp HOME	    &kp END	    &kp LC(END)
            &kp L	   &kp K	&kp J      &kp H	     &kp C_PP	   &kp C_VOL_UP	&kp C_MUTE	&kp C_VOL_DN
                                &trans     &trans        &trans        &trans
                    >;
        };

        number_layer {
            label = "LAYER_NUM";
            bindings = <
            &kp DOT     &kp 4       &kp 5       &kp 6            &kp F5     &kp F6      &kp F7      &kp F8
            &kp 0       &kp 1       &kp 2       &kp 3            &kp F1     &kp F2      &kp F3      &kp F4
                                    &trans      &trans           &trans     &trans
                    >;
        };

        symbol_layer {
            label = "LAYER_SYM";
            bindings = <
            &kp EXCL    &kp AT      &kp HASH    &kp DLLR        &kp AMPS    &kp STAR    &kp DQT     &kp SQT
            &kp UNDER   &kp EQUAL   &kp PLUS    &kp PRCNT       &kp BSLH    &kp PIPE    &kp SEMI    &kp COLON
                                    &trans      &trans          &trans      &trans
                    >;
        };
    };

};