if SHIELD_CHOCMINIMAL_LEFT

config ZMK_KEYBOARD_NAME
    default "chocminimal"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHOCMINIMAL_LEFT || SHIELD_CHOCMINIMAL_RIGHT

config ZMK_SPLIT
    default y

endif
